<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Ovo je neki blog kao ne znam sta bih pisao ovdje ali su ttri reda blogcine bratcinoooo.</p>
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>